#first_section {
  background-image: url(climb.png);
  background-size: cover;
  width: 100vw;
  height: 60vw;
  background-position: 23% 10%;
  grid-column: 1/6;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#first_section p {
  color: white;
  font-size: 2vw;
  padding-left: 3vw;
}
#first_section h1 {
  color: white;
  font-size: 6vw;
  padding-left: 3vw;
}
