@font-face {
  font-family: "amsterdam";
  src: url("font/newamsterdam-webfont.woff2") format("woff2");
}

body {
  margin: 0;
}

#first_section {
  background-image: url(climb.png);
  background-size: cover;
  width: 100vw;
  height: 60vw;
  background-position: 23% 10%;
  grid-column: 1/6;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#first_section p {
  color: white;
  font-size: 3vw;
  padding-left: 3vw;
  font-family: amsterdam;
  margin-bottom: 0;
}
#first_section h1 {
  color: white;
  font-size: 10vw;
  padding-left: 3vw;
  font-family: amsterdam;
  margin: 0;
}
